#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_VOL";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };

        l_hrm: left-home-row-mod {
            compatible = "zmk,behavior-hold-tap";
            label = "Left key with modifier";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 55 56 57 58 59>;
            flavor = "balanced";
            retro-tap;
        };

        r_hrm: right-home-row-mod {
            compatible = "zmk,behavior-hold-tap";
            label = "Right key with modifier";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54>;
            flavor = "balanced";
            retro-tap;
        };

        mo_kp_tk: Thumb_key_mo_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "Thumb key (mo + kp)";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
        };

        r_tkm: right-thumb-key-layer {
            compatible = "zmk,behavior-hold-tap";
            label = "Right thumb key layer";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
        };

        en_capsw: en_capsw {
            compatible = "zmk,behavior-caps-word";
            label = "EN_CAPSW";
            #binding-cells = <0>;
            continue-list = <UNDERSCORE BACKSPACE>;
        };

        l_tkr: left-thumb-key-layer-retro {
            compatible = "zmk,behavior-hold-tap";
            label = "Left thumb key layer (retro)";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 55 56 57 58 59>;
            flavor = "balanced";
            retro-tap;
        };

        r_tkl: right-thumb-key-layer-retro {
            compatible = "zmk,behavior-hold-tap";
            label = "Right thumb key layer (retro)";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54>;
            flavor = "balanced";
            retro-tap;
        };

        simple_sp: simple_sp {
            compatible = "zmk,behavior-hold-tap";
            label = "SIMPLE_SP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "balanced";
            retro-tap;
        };

        ew_tkl: ew_tkl {
            compatible = "zmk,behavior-hold-tap";
            label = "EW_TKL";
            bindings = <&mo>, <&kp_ew_exit>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "balanced";
        };

        off: disable-layer {
            compatible = "zmk,behavior-toggle-layer";
            label = "OFF";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        ew_nav: ew_nav {
            compatible = "zmk,behavior-hold-tap";
            label = "EW_NAV";
            bindings = <&mo_ew_exit>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
        };

        on: on {
            compatible = "zmk,behavior-toggle-layer";
            label = "ON";
            #binding-cells = <1>;
            toggle-mode = "on";
        };

        rcw_tkl: rcw_tkl {
            compatible = "zmk,behavior-hold-tap";
            label = "RCW_TKL";
            bindings = <&mo_rcw_exit>, <&kp_rcw_exit>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "balanced";
        };

        rcw_mod: rcw_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "RCW_MOD";
            bindings = <&mo_rcw_exit>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        cmben {
            bindings = <&layer_en>;
            key-positions = <15 16>;
            layers = <1>;
        };

        cmbru {
            bindings = <&layer_ru>;
            key-positions = <15 16>;
            layers = <0>;
        };

        to-simple-layer {
            bindings = <&to 4>;
            key-positions = <1 37>;
        };

        to-base-layer {
            bindings = <&to 0>;
            key-positions = <2 38>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(LC(N2))>;

            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(LC(N1))>;

            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LS(LCTRL)>,
                <&macro_tap>,
                <&kp N1 &to 0>,
                <&macro_release>,
                <&kp LS(LCTRL)>;

            label = "LAYER_EN";
            wait-ms = <25>;
            tap-ms = <50>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LS(LCTRL)>,
                <&macro_tap>,
                <&kp N2 &to 1>,
                <&macro_release>,
                <&kp LS(LCTRL)>;

            label = "LAYER_RU";
            wait-ms = <25>;
            tap-ms = <50>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        ru: ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&to_ru>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_en>;

            label = "RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        sel_word: sel_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(LEFT) &kp LS(LC(RIGHT))>;

            label = "SEL_WORD";
        };

        ew_enter: ew_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog 3>, <&macro_tap>, <&kp LS(LC(N1))>;

            label = "EW_ENTER";
        };

        ewc_enter: ewc_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog 3>, <&macro_tap>, <&kp LS(LA(N1)) &en_capsw>;

            label = "EWC_ENTER";
        };

        kp_ew_exit: kp_ew_exit {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&off 3>,
                <&macro_press>,
                <&kp LS(LCTRL)>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LS(LCTRL)>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "toggle layer (RU) and &kp";
            wait-ms = <5>;
            tap-ms = <30>;
        };

        kp_ew_quit: kp_ew_quit {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&off 3 &macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_press>,
                <&kp LS(LCTRL)>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LS(LCTRL)>;

            label = "&kp and toggle layer (RU)";
            wait-ms = <5>;
            tap-ms = <30>;
        };

        kpe_ew_exit: kpe_ew_exit {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&off 3>,
                <&macro_press>,
                <&kp LS(LCTRL)>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LS(LCTRL)>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "&kp and toggle layer (RU)";
            wait-ms = <5>;
            tap-ms = <30>;
        };

        mo_ew_exit: mo_ew_exit {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&off 3>,
                <&macro_press>,
                <&kp LS(LCTRL)>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LS(LCTRL)>,
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>;

            label = "MO_EW_EXIT";
            wait-ms = <5>;
            tap-ms = <30>;
        };

        kp_rcw_exit: kp_rcw_exit {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&off 2>,
                <&macro_tap>,
                <&kp CAPSLOCK>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "KP_RCW_EXIT";
            wait-ms = <5>;
            tap-ms = <30>;
        };

        rcw_toggle: rcw_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&tog 2 &kp CAPSLOCK>;

            label = "RCW_ENTER";
        };

        mo_rcw_exit: mo_rcw_exit {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&off 2>,
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&kp CAPS>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>;

            label = "MO_RCW_EXIT";
            wait-ms = <5>;
            tap-ms = <30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            display-name = "Base EN";
            bindings = <
&kp ESC    &kp F1  &kp F2        &kp F3           &kp F4     &kp F5                                                    &kp F6  &kp F7     &kp F8           &kp F9     &kp F10   &kp BACKSPACE
&kp TAB    &kp Q   &kp W         &kp E            &kp R      &kp T                                                     &kp Y   &kp U      &kp I            &kp O      &kp P     &kp BSLH
&en_capsw  &kp A   &kp S         &l_hrm LSHIFT D  &kp F      &kp G                                                     &kp H   &kp J      &r_hrm RSHIFT K  &kp L      &kp SEMI  &kp SQT
&kp LGUI   &kp Z   &kp X         &kp C            &kp V      &kp B                   &to_en            &layer_ru       &kp N   &kp M      &kp COMMA        &kp DOT    &kp FSLH  &kp ENTER
                   &kp LEFT_ALT  &kp LBKT         &kp LCTRL  &mo_kp_tk 11 BACKSPACE  &l_tkr 7 SPACE    &r_tkl 7 SPACE  &mo 6   &kp RCTRL  &kp RBKT         &kp GRAVE
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        ru {
            display-name = "Base RU";
            bindings = <
&kp ESC      &kp F1                   &kp F2                &kp F3                        &kp F4              &kp F5                                                    &kp F6              &kp F7                     &kp F8                        &kp F9                 &kp F10              &kp BACKSPACE
&kp TAB      &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U             &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                                        &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE        &kp RU_CYRILLIC_SHA           &kp RU_CYRILLIC_SHCHA  &kp RU_CYRILLIC_ZE   &kp BSLH
&rcw_toggle  &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_YERU  &l_hrm LSHIFT RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                                        &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O          &r_hrm RSHIFT RU_CYRILLIC_EL  &kp RU_CYRILLIC_DE     &kp RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_E
&kp LGUI     &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES            &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I       &layer_en         &to_ru          &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE            &kp RU_CYRILLIC_YU     &kp RU_DOT           &kp ENTER
                                      &kp LALT              &kp RU_CYRILLIC_HA            &kp LCTRL           &mo_kp_tk 11 BACKSPACE  &l_tkr 8 SPACE    &r_tkl 8 SPACE  &mo 6               &kp RCTRL                  &kp RU_CYRILLIC_HARD_SIGN     &kp RU_CYRILLIC_IO
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        ru_cw {
            display-name = "RU CapsW";
            bindings = <
&kp_rcw_exit ESC   &kp_rcw_exit F1  &kp_rcw_exit F2    &kp_rcw_exit F3  &kp_rcw_exit F4     &kp_rcw_exit F5                                              &kp_rcw_exit F6      &kp_rcw_exit F7     &kp_rcw_exit F8  &kp_rcw_exit F9  &kp_rcw_exit F10     &kp BACKSPACE
&kp_rcw_exit TAB   &trans           &trans             &trans           &trans              &trans                                                       &trans               &trans              &trans           &trans           &trans               &kp_rcw_exit BSLH
&rcw_toggle        &trans           &trans             &trans           &trans              &trans                                                       &trans               &trans              &trans           &trans           &trans               &trans
&kp_rcw_exit LGUI  &trans           &trans             &trans           &trans              &trans                 &layer_en           &layer_ru         &trans               &trans              &trans           &trans           &kp_rcw_exit RU_DOT  &kp_rcw_exit ENTER
                                    &kp_rcw_exit LALT  &trans           &kp_rcw_exit LCTRL  &rcw_mod 11 BACKSPACE  &rcw_tkl 8 SPACE    &rcw_tkl 8 SPACE  &kp_rcw_exit LSHIFT  &kp_rcw_exit RCTRL  &trans           &trans
            >;
        };

        ew {
            display-name = "EN Word";
            bindings = <
&kp_ew_exit ESC    &kp_ew_exit F1  &kp_ew_exit F2     &kp_ew_exit F3    &kp_ew_exit F4      &kp_ew_exit F5                                              &kp_ew_exit F6      &kp_ew_exit F7      &kp_ew_exit F8     &kp_ew_exit F9     &kp_ew_exit F10   &kp BACKSPACE
&kp_ew_exit TAB    &trans          &trans             &trans            &trans              &trans                                                      &trans              &trans              &trans             &trans             &trans            &kp_ew_exit BSLH
&en_capsw          &trans          &trans             &trans            &trans              &trans                                                      &trans              &trans              &trans             &trans             &kp_ew_exit SEMI  &kp_ew_exit SQT
&kpe_ew_exit LGUI  &trans          &trans             &trans            &trans              &trans                  &layer_en          &layer_ru        &trans              &trans              &kp_ew_exit COMMA  &kp_ew_exit DOT    &kp_ew_exit FSLH  &kp_ew_exit ENTER
                                   &kpe_ew_exit LALT  &kp_ew_exit LBKT  &kpe_ew_exit LCTRL  &mo_kp_tk 11 BACKSPACE  &ew_tkl 9 SPACE    &ew_tkl 9 SPACE  &kp_ew_exit LSHIFT  &kpe_ew_exit RCTRL  &kp_ew_exit RBKT   &kp_ew_exit GRAVE
            >;
        };

        sim {
            label = "Simple";
            bindings = <
&kp ESC   &kp N1  &kp N2        &kp N3    &kp N4     &kp N5                                                                    &kp N6  &kp N7     &kp N8     &kp N9     &kp N0    &kp BSPC
&kp TAB   &kp Q   &kp W         &kp E     &kp R      &kp T                                                                     &kp Y   &kp U      &kp I      &kp O      &kp P     &kp BSLH
&kp CAPS  &kp A   &kp S         &kp D     &kp F      &kp G                                                                     &kp H   &kp J      &kp K      &kp L      &kp SEMI  &kp APOS
&kp LGUI  &kp Z   &kp X         &kp C     &kp V      &kp B                   &kp MINUS                 &kp EQUAL               &kp N   &kp M      &kp COMMA  &kp DOT    &kp FSLH  &kp ENTER
                  &kp LEFT_ALT  &kp LBKT  &kp LCTRL  &mo_kp_tk 11 BACKSPACE  &simple_sp LSHFT SPACE    &simple_sp RSHFT SPACE  &mo 6   &kp RCTRL  &kp RBKT   &kp GRAVE
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        nav {
            display-name = "Navigation";
            bindings = <
&kp ESC  &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                                          &kp F6      &kp F7        &kp F8    &kp F9         &kp F10        &kp BACKSPACE
&kp TAB  &kp LC(Y)  &sel_word  &none      &none      &none                                           &kp PG_UP   &kp LC(LEFT)  &kp UP    &kp LC(RIGHT)  &kp LC(HOME)   &none
&none    &kp LC(A)  &kp LC(S)  &kp LSHFT  &none      &none                                           &none       &kp LEFT      &kp DOWN  &kp RIGHT      &kp LS(ENTER)  &none
&none    &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &none                   &none        &none      &kp PG_DN   &kp HOME      &none     &kp END        &kp LC(END)    &kp ENTER
                    &none      &none      &tog 5     &mo_kp_tk 11 BACKSPACE  &kp SPACE    &kp ENTER  &r_tkm 6 5  &tog 5        &none     &none
            >;
        };

        nav_m {
            display-name = ".navigation.";
            bindings = <
&none  &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                                    &kp F6     &kp F7        &kp F8    &kp F9         &kp F10        &none
&none  &kp LC(Y)  &sel_word  &none      &none      &none                                     &kp PG_UP  &kp LC(LEFT)  &kp UP    &kp LC(RIGHT)  &kp LC(HOME)   &none
&none  &kp LC(A)  &kp LC(S)  &kp LSHFT  &none      &none                                     &none      &kp LEFT      &kp DOWN  &kp RIGHT      &kp LS(ENTER)  &none
&none  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &none                   &none      &none  &kp PG_DN  &kp HOME      &tog 5    &kp END        &kp LC(END)    &none
                  &none      &none      &none      &mo_kp_tk 13 BACKSPACE  &kp ESC    &none  &none      &none         &none     &none
            >;
        };

        sym_en {
            display-name = ".en-symbols.";
            bindings = <
&none  &none      &none             &none      &none     &none                                  &none          &none     &none           &none     &none      &none
&none  &kp TILDE  &kp LT            &kp PLUS   &kp GT    &kp CARET                              &kp EXCL       &kp LBRC  &kp EQUAL       &kp RBRC  &kp COLON  &kp PIPE
&none  &kp GRAVE  &kp LEFT_BRACKET  &kp MINUS  &kp RBKT  &kp ASTRK                              &kp QUESTION   &kp LPAR  &kp UNDERSCORE  &kp RPAR  &kp SEMI   &kp DOUBLE_QUOTES
&none  &kp HASH   &kp PERCENT       &kp AT     &kp AMPS  &kp DLLR       &none        &none      &ru RU_NUMERO  &kp BSLH  &kp COMMA       &kp DOT   &kp SLASH  &kp LS(ENTER)
                  &none             &none      &none     &kp BACKSPACE  &kp SPACE    &kp SPACE  &kp DELETE     &none     &none           &none
            >;
        };

        sym_ru {
            display-name = ".ru-symbols.";
            bindings = <
&none       &none      &none        &none      &none     &none                                  &none          &none        &none         &none       &none         &none
&ewc_enter  &en TILDE  &en LT       &kp PLUS   &en GT    &en CARET                              &kp EXCL       &en LBRC     &kp EQUAL     &en RBRC    &kp RU_COLON  &en PIPE
&ew_enter   &en GRAVE  &en LBKT     &kp MINUS  &en RBKT  &kp ASTRK                              &kp RU_QMARK   &kp LPAR     &kp UNDER     &kp RPAR    &kp RU_SEMI   &kp RU_DOUBLE_QUOTES
&none       &en HASH   &kp PERCENT  &en AT     &en AMPS  &en DLLR       &none        &none      &kp RU_NUMERO  &kp RU_BSLH  &kp RU_COMMA  &kp RU_DOT  &kp RU_SLASH  &kp LS(ENTER)
                       &none        &none      &none     &kp BACKSPACE  &kp SPACE    &kp SPACE  &kp DELETE     &none        &none         &none
            >;
        };

        sym_enword {
            display-name = ".enw-syms.";
            bindings = <
&none  &none              &none                     &none              &none             &none                                                      &none                  &none             &none              &none             &none              &none
&none  &kp_ew_quit TILDE  &kp_ew_quit LT            &kp_ew_quit PLUS   &kp_ew_quit GT    &kp_ew_quit CARET                                          &kp_ew_quit EXCL       &kp_ew_quit LBRC  &kp_ew_quit EQUAL  &kp_ew_quit RBRC  &kp_ew_quit COLON  &kp_ew_quit PIPE
&none  &kp_ew_quit GRAVE  &kp_ew_quit LEFT_BRACKET  &kp_ew_quit MINUS  &kp_ew_quit RBKT  &kp_ew_quit ASTRK                                          &kp_ew_quit QUESTION   &kp_ew_quit LPAR  &kp UNDERSCORE     &kp_ew_quit RPAR  &kp_ew_quit SEMI   &kp_ew_quit DOUBLE_QUOTES
&none  &kp_ew_quit HASH   &kp_ew_quit PERCENT       &kp_ew_quit AT     &kp_ew_quit AMPS  &kp_ew_quit DLLR   &none                &none              &kp_ew_exit RU_NUMERO  &kp_ew_quit BSLH  &kp_ew_quit COMMA  &kp_ew_quit DOT   &kp_ew_quit SLASH  &kp_ew_exit LS(ENTER)
                          &none                     &none              &none             &kp BACKSPACE      &kp_ew_exit SPACE    &kp_ew_exit SPACE  &kp DELETE             &none             &none              &none
            >;
        };

        num {
            display-name = "Number";
            bindings = <
&none  &none  &none  &none       &none    &none                                      &none         &none    &none   &none   &none            &kp BSPC
&none  &none  &none  &none       &none    &none                                      &kp KP_MINUS  &kp N7   &kp N8  &kp N9  &kp KP_DIVIDE    &kp KP_CLEAR
&none  &none  &none  &kp LSHIFT  &none    &none                                      &kp KP_PLUS   &kp N4   &kp N5  &kp N6  &kp KP_MULTIPLY  &kp KP_EQUAL
&none  &none  &none  &none       &none    &none              &none        &none      &kp LPAR      &kp N1   &kp N2  &kp N3  &kp RPAR         &kp ENTER
              &none  &none       &tog 10  &mo_kp_tk 11 BSPC  &kp SPACE    &kp SPACE  &mo 12        &tog 10  &kp N0  &none
            >;
        };

        num_m {
            display-name = ".number.";
            bindings = <
&none         &none    &none             &none       &none              &none                      &none         &none    &none   &none   &none            &none
&none         &none    &kp LS(LC(LEFT))  &sel_word   &kp LS(LC(RIGHT))  &none                      &kp KP_MINUS  &kp N7   &kp N8  &kp N9  &kp KP_DIVIDE    &kp KP_CLEAR
&kp CAPSLOCK  &kp ESC  &kp LS(LEFT)      &kp LSHIFT  &kp LS(RIGHT)      &none                      &kp KP_PLUS   &kp N4   &kp N5  &kp N6  &kp KP_MULTIPLY  &kp KP_EQUAL
&none         &none    &none             &none       &none              &none  &none    &none      &kp LPAR      &kp N1   &kp N2  &kp N3  &kp RPAR         &none
                       &none             &none       &none              &none  &none    &kp ENTER  &mo 13        &tog 10  &kp N0  &none
            >;
        };

        adj_jmp {
            display-name = ".adjust-jmp.";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &mo 13  &trans    &trans  &mo 13  &trans  &trans  &trans
            >;
        };

        adj_m {
            display-name = ".adjust.";
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR_ALL
&trans       &trans  &trans  &trans  &trans  &trans                    &trans        &trans        &trans            &trans        &trans        &studio_unlock
&trans       &trans  &trans  &trans  &trans  &trans                    &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans    &trans  &out OUT_USB  &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT    &trans        &trans
                     &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans            &trans
            >;
        };
    };
};
