#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        cmb_ru_io {
            bindings = <&kp RU_CYRILLIC_IO>;
            key-positions = <15 16>;
            layers = <1>;
        };

        cmb_ru_hs {
            bindings = <&kp RU_CYRILLIC_HARD_SIGN>;
            key-positions = <20 19>;
            layers = <1>;
        };

        cmb_dot_ru {
            bindings = <&kp RU_DOT>;
            key-positions = <46 47>;
            layers = <1>;
        };

        cmb_dot_en {
            bindings = <&kp DOT>;
            key-positions = <46 47>;
            layers = <0>;
        };
    };

    macros {
        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0>, <&macro_tap>, <&kp LS(LC(N1))>;

            wait-ms = <0>;
            tap-ms = <50>;
            label = "LAYER_EN";
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1>, <&macro_tap>, <&kp LS(LC(N2))>;

            wait-ms = <0>;
            tap-ms = <50>;
            label = "LAYER_RU";
        };

        lay_en: lay_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&off 1>, <&macro_tap>, <&kp LS(LC(N1))>;

            wait-ms = <0>;
            tap-ms = <38>;
        };

        lay_ru: lay_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&on 1>, <&macro_tap>, <&kp LS(LC(N2))>;

            wait-ms = <0>;
            tap-ms = <38>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&kp LS(LC(N1))>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap_time 23>,
                <&macro_tap>,
                <&kp LS(LC(N2))>;

            wait-ms = <0>;
            tap-ms = <23>;
        };

        ru: ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&kp LS(LC(N2))>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap_time 30>,
                <&macro_tap>,
                <&kp LS(LC(N1))>;

            wait-ms = <0>;
            tap-ms = <30>;
        };

        key: key {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_tap>, <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            wait-ms = <0>;
            tap-ms = <30>;
        };

        cmd_f15: cmd_f15 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp F15>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            wait-ms = <0>;
            tap-ms = <30>;
        };

        kp_on_off: kp_on_off {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &kt_off MACRO_PLACEHOLDER &macro_param_1to1 &kt_on MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_press>,
                <&macro_param_1to1 &kt_off MACRO_PLACEHOLDER>;

            label = "KP_ON_OFF";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        sel_off_kp: sel_off_kp {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&kt_off RSHFT &macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "SEL_OFF_KP";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        sel_off_cmd_f15: sel_off_cmd_f15 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&kt_off RSHFT>,
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp F15>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            wait-ms = <0>;
            tap-ms = <30>;
            label = "SEL_OFF_CMD_F15";
        };

        nv_off: nv_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&off 2 &kt_off RSHFT>;

            label = "NV_OFF";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        nvoff_kp: nvoff_kp {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&off 2 &kt_off RSHFT &macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "NVOFF_KP";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        nvoff_sk: nvoff_sk {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&off 2 &kt_off RSHFT &macro_param_1to1 &sk_e MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_release>,
                <&macro_param_1to1 &sk_e MACRO_PLACEHOLDER>;

            label = "NVOFF_SK";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        nvoff_mo: nvoff_mo {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&off 2 &kt_off RSHFT &macro_param_1to1 &on MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_press>,
                <&macro_param_1to1 &off MACRO_PLACEHOLDER>;

            label = "NVOFF_MO";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        nvoff_sl: nvoff_sl {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&off 2 &kt_off RSHFT &macro_param_1to1 &sl_e MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_release>,
                <&macro_param_1to1 &sl_e MACRO_PLACEHOLDER>;

            label = "NVOFF_SL";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        mo_nv_off: mo_nv_off {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&macro_param_1to1 &on MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_tap_time 0>,
                <&macro_tap>,
                <&macro_param_1to1 &off MACRO_PLACEHOLDER &off 2 &kt_off RSHFT>;

            label = "MO_NV_OFF";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        nvon_kp: nvon_kp {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&on 2 &macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "NV_ON_KP";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        nvsel_on: nvsel_on {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kt_off MACRO_PLACEHOLDER &macro_param_1to1 &kt_on MACRO_PLACEHOLDER &on 2>;

            label = "NVSEL_ON";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        nvsel_mo: nvsel_mo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_off RSHFT &on 2>,
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&off 2>,
                <&macro_release>,
                <&kp LSHFT>;

            label = "NVSEL_MO";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        slof_nvsel_mo_rs: slof_nvsel_mo_rs {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&kp K_CANCEL>,
                <&macro_press>,
                <&macro_param_1to1 &on MACRO_PLACEHOLDER &kt_on RSHFT>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_param_1to1 &off MACRO_PLACEHOLDER &kt_off RSHFT>;

            label = "SLOF_NVSEL_MO_RS";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        slof_nv_mo: slof_nv_mo {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&kp K_CANCEL>,
                <&macro_press>,
                <&macro_param_1to1 &on MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_press>,
                <&macro_param_1to1 &off MACRO_PLACEHOLDER &kt_off RSHFT>;

            label = "SLOF_NV_MO";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        slof_nvon: slof_nvon {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&kp K_CANCEL>,
                <&macro_press>,
                <&macro_param_1to1 &on MACRO_PLACEHOLDER>;

            label = "SLOF_NVON";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        slof_nvsel_mo: slof_nvsel_mo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp K_CANCEL &on 2>,
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&off 2>,
                <&macro_release>,
                <&kp LSHFT>;

            label = "SLOF_NVSEL_MO";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        mo_nv: mo_nv {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&macro_param_1to1 &on MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_wait_time 0>,
                <&macro_tap_time 0>,
                <&macro_tap>,
                <&macro_param_1to1 &off MACRO_PLACEHOLDER &kt_off RSHFT &off 2>;

            label = "MO_NV";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        on_nv: kp_nv {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&kp K_CANCEL &off 3 &macro_param_1to1 &on MACRO_PLACEHOLDER>;

            label = "KP_NV";
        };
    };

    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };

        on: on {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            toggle-mode = "on";
        };

        off: off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        kt_on: kt_on {
            compatible = "zmk,behavior-key-toggle";
            label = "KT_ON";
            #binding-cells = <1>;
            toggle-mode = "on";
        };

        kt_off: kt_off {
            compatible = "zmk,behavior-key-toggle";
            label = "KT_OFF";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        kt_flip: kt_flip {
            compatible = "zmk,behavior-key-toggle";
            label = "KT_FLIP";
            #binding-cells = <1>;
            toggle-mode = "flip";
        };

        ltk: ltk {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&key>;

            #binding-cells = <2>;
            tapping-term-ms = <235>;
            flavor = "hold-preferred";
        };

        kp_sk: kp_sk {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <275>;
            flavor = "hold-preferred";
            label = "KP_SK";
            hold-while-undecided;
            hold-while-undecided-linger;
        };

        kp_kttgl: kp_kttgl {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp_on_off>, <&kt_flip>;

            #binding-cells = <2>;
            tapping-term-ms = <275>;
            flavor = "tap-preferred";
            label = "KP_KTTGL";
        };

        mo_sl: mo_sl {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <235>;
            label = "MO_SL";
        };

        lr_bkt: lr_bkt {
            compatible = "zmk,behavior-mod-morph";
            label = "LR_BKT";
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sl_bksl_e: sl_bksl_e {
            compatible = "zmk,behavior-mod-morph";
            label = "SL_BKSL_E";
            bindings = <&kp SLASH>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sl_bksl_r: sl_bksl_r {
            compatible = "zmk,behavior-mod-morph";
            label = "SL_BKSL_R";
            bindings = <&sl_mod>, <&kp RU_BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        find_nxt: find_nxt {
            compatible = "zmk,behavior-mod-morph";
            label = "FIND_NXT";
            bindings = <&cmd_f15 F>, <&cmd_f15 LS(F)>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        nav_tab: nav_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_TAB";
            bindings = <&kp TAB>, <&sel_off_kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RALT|MOD_RGUI|MOD_LSFT)>;
        };

        nav_bksp: nav_bksp {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_BKSP";
            bindings = <&nv_bksp>, <&sel_off_kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };

        nvsel_nvoff: nvsel_nvoff {
            compatible = "zmk,behavior-hold-tap";
            label = "NVSEL_NVOFF";
            bindings = <&nvsel_mo>, <&nv_off>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <235>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49 56 57 58 59 43 55>;
        };

        nav_esc: nav_esc {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_ESC";
            bindings = <&kp ESC>, <&sel_off_kp ESC>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RSFT|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };

        nav_enter: nav_enter {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_ENTER";
            bindings = <&kp ENTER>, <&sel_off_kp ENTER>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RSFT|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };

        nav_ctrl_z: nav_ctrl_z {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_CTRL_Z";
            bindings = <&kp LC(Z)>, <&sel_off_kp LC(Z)>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        nav_ctrl_x: nav_ctrl_x {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_CTRL_X";
            bindings = <&sel_off_kp LC(X)>, <&sel_off_kp LA(X)>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        nav_ctrl_c: nav_ctrl_c {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_CTRL_C";
            bindings = <&sel_off_kp LC(C)>, <&sel_off_kp LA(C)>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_LALT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        nav_ctrl_v: nav_ctrl_v {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_CTRL_V";
            bindings = <&sel_off_kp LC(V)>, <&sel_off_kp LA(V)>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_LALT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        nav_ctrl_d: nav_ctrl_d {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_CTRL_D";
            bindings = <&kp LC(D)>, <&sel_off_kp LC(D)>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        nav_ctrl_s: nav_ctrl_s {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_CTRL_S";
            bindings = <&sel_off_kp LC(S)>, <&sel_off_kp LC(S)>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        nav_del: nav_del {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_DEL";
            bindings = <&nv_del>, <&sel_off_kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };

        nav_ins: nav_ins {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_INS";
            bindings = <&kp INSERT>, <&kp INSERT>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        nav_find_nxt: nav_find_nxt {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_FIND_NXT";
            bindings = <&find_nxt>, <&sel_off_cmd_f15 F>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        sl_mod: sl_mod {
            compatible = "zmk,behavior-mod-morph";
            label = "SL_MOD";
            bindings = <&kp RU_SLASH>, <&kp RU_DOT>;

            #binding-cells = <0>;
            mods = <(MOD_RCTL|MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RALT|MOD_RGUI)>;
            keep-mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };

        nvoff_ltk: nvoff_ltk {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&nvoff_mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <235>;
            flavor = "hold-preferred";
            label = "NVOFF_LTK";
        };

        nav_cs_z: nav_cs_z {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_CS_Z";
            bindings = <&kp LC(LS(Z))>, <&sel_off_kp LC(LS(Z))>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        nv_bksp: nv_bksp {
            compatible = "zmk,behavior-mod-morph";
            label = "NV_BKSP";
            bindings = <&kp BACKSPACE>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RCTL|MOD_LCTL|MOD_LALT|MOD_RALT|MOD_RGUI|MOD_LGUI)>;
        };

        nv_del: nv_del {
            compatible = "zmk,behavior-mod-morph";
            label = "NV_DEL";
            bindings = <&kp DELETE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };

        slof_mo_on: slof_mo_on {
            compatible = "zmk,behavior-hold-tap";
            label = "SLOF_MO_ON";
            bindings = <&slof_nv_mo>, <&slof_nvon>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <235>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 44 45 46 47 48 49 56 57 58 59 43 55>;
        };

        nvoff_kp_sk: nvoff_kp_sk {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&nvoff_kp>, <&nvoff_sk>;

            #binding-cells = <2>;
            tapping-term-ms = <275>;
            flavor = "hold-preferred";
            label = "NVOFF_KP_SK";
            hold-while-undecided;
            hold-while-undecided-linger;
        };

        lshft_sk: lshft_sk {
            compatible = "zmk,behavior-mod-morph";
            label = "LSHFT_SK";
            bindings = <&sk_e LSHFT>, <&kp K_CANCEL>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        rshft_sk: rshft_sk {
            compatible = "zmk,behavior-mod-morph";
            label = "RSHFT_SK";
            bindings = <&sk_e RSHFT>, <&kp K_CANCEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sk_e: sk_e {
            compatible = "zmk,behavior-sticky-key";
            label = "SK_E";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <500>;
            ignore-modifiers;
        };

        sl_e: sl_e {
            compatible = "zmk,behavior-sticky-key";
            label = "SL_E";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <500>;
            quick-release;
        };

        nav_shdel: nav_shdel {
            compatible = "zmk,behavior-mod-morph";
            label = "NAV_SHDEL";
            bindings = <&kp LS(DELETE)>, <&sel_off_kp LS(DELETE)>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };

        ltk_nv: ltk_nv {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo_nv>, <&key>;

            #binding-cells = <2>;
            tapping-term-ms = <235>;
            flavor = "hold-preferred";
            label = "LTK_NV";
        };

        slof_nv_ltk: slof_nv_ltk {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&slof_nv_mo>, <&slof_nvon>;

            #binding-cells = <2>;
            tapping-term-ms = <235>;
            flavor = "hold-preferred";
            label = "SLOF_NV_LTK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            display-name = "En";
            bindings = <
&kp ESC      &kp CAPSLOCK  &kp F1        &kp F2            &kp F3     &kp F4                                      &kp F5        &kp F6     &kp F7             &kp F8        &none       &kp BACKSPACE
&kp TAB      &kp Q         &kp W         &kp E             &kp R      &kp T                                       &kp Y         &kp U      &kp I              &kp O         &kp P       &lr_bkt
&nvoff_mo 9  &kp A         &kp S         &kp D             &kp F      &kp G                                       &kp H         &kp J      &kp K              &kp L         &kp SEMI    &kp APOSTROPHE
&kp LGUI     &kp Z         &kp X         &kp C             &kp V      &kp B            &layer_en       &kp ENTER  &kp N         &kp M      &kp COMMA          &kp DOT       &sl_bksl_e  &kp RGUI
                           &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LSHFT  &ltk_nv 3 SPACE  &mo_nv_off 2    &sl_e 8    &ltk 5 SPACE  &kp RSHFT  &kp RIGHT_CONTROL  &kp LEFT_ALT
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        ru {
            display-name = "Ru";
            bindings = <
&trans  &trans                   &trans                &trans              &trans              &trans                                &trans              &trans                     &trans               &trans                 &trans               &trans
&trans  &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U   &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                    &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE        &kp RU_CYRILLIC_SHA  &kp RU_CYRILLIC_SHCHA  &kp RU_CYRILLIC_ZE   &kp RU_CYRILLIC_HA
&trans  &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_YERU  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                    &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O          &kp RU_CYRILLIC_EL   &kp RU_CYRILLIC_DE     &kp RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_E
&trans  &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I   &trans    &trans  &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE   &kp RU_CYRILLIC_YU     &sl_bksl_r           &trans
                                 &trans                &trans              &trans              &trans              &trans    &trans  &trans              &trans                     &trans               &trans
            >;
        };

        nav {
            display-name = "nav";
            bindings = <
&trans    &trans       &trans                 &trans       &trans         &trans                      &trans     &trans        &trans        &trans         &trans         &trans
&nav_tab  &nav_cs_z    &kp_kttgl RSHFT RSHFT  &kp RCTRL    &none          &none                       &kp PG_UP  &nav_bksp     &kp UP        &nav_del       &kp LSHFT      &nav_shdel
&trans    &nav_esc     &nav_ctrl_s            &nav_ctrl_d  &nav_find_nxt  &none                       &kp HOME   &kp LEFT      &kp DOWN      &kp RIGHT      &nav_enter     &kp END
&trans    &nav_ctrl_z  &nav_ctrl_x            &nav_ctrl_c  &nav_ctrl_v    &nav_ins  &trans    &trans  &kp PG_DN  &kp LC(LEFT)  &kp LA(LEFT)  &kp LC(RIGHT)  &kp LA(RIGHT)  &trans
                       &trans                 &trans       &trans         &trans    &trans    &trans  &trans     &trans        &trans        &trans
            >;
        };

        act-sym-en {
            display-name = "act_sym";
            bindings = <
&none  &none          &none      &none      &none      &none                      &kp F13          &kp F14        &kp F15               &kp F16                &none         &none
&none  &kp LC(LS(Z))  &kp LSHFT  &kp RCTRL  &none      &none                      &kp EXCLAMATION  &kp ASTERISK   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON     &kp PIPE
&none  &kp ESC        &kp LC(S)  &kp LC(D)  &find_nxt  &none                      &kp PLUS         &kp MINUS      &kp UNDERSCORE        &kp EQUAL              &on_nv 2      &kp DOUBLE_QUOTES
&none  &kp LC(Z)      &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp INS  &trans    &trans  &kp AT           &kp AMPERSAND  &kp LT                &kp GT                 &kp QUESTION  &none
                      &trans     &trans     &trans     &trans   &trans    &sl 8   &ltk 5 SPACE     &rshft_sk      &trans                &trans
            >;
        };

        act-sym-ru {
            display-name = "act-sym";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans       &trans         &trans  &trans  &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp RU_EXCL  &trans         &trans  &trans  &kp RU_COLON     &en PIPE
&trans  &trans  &trans  &trans  &trans  &trans                    &trans       &trans         &trans  &trans  &trans           &kp RU_DOUBLE_QUOTES
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &en AT       &en AMPERSAND  &en LT  &en GT  &kp RU_QUESTION  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans       &trans         &trans  &trans
            >;
        };

        num-utils-en {
            display-name = "num_utils";
            bindings = <
&none           &none      &kp F9            &kp F10            &kp F11    &kp F12                         &none         &none     &none             &none      &none            &none
&kp GRAVE       &kp N1     &kp N2            &kp N3             &kp N4     &kp N5                          &none         &none     &kp LA(LC(UP))    &none      &kp SCROLLLOCK   &none
&kp APOSTROPHE  &kp N6     &kp N7            &kp N8             &kp N9     &kp N0                          &kp LC(HOME)  &kp LEFT  &kp LA(LC(DOWN))  &kp RIGHT  &none            &kp LC(END)
&ru RU_NUMERO   &kp COMMA  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DOT    &kp PERCENT   &trans    &trans  &none         &lay_en   &kp PRINTSCREEN   &lay_ru    &kp PAUSE_BREAK  &none
                           &trans            &trans             &lshft_sk  &ltk 3 SPACE  &sl 7     &trans  &trans        &trans    &trans            &trans
            >;
        };

        num-utils-ru {
            display-name = "num-utils";
            bindings = <
&trans          &trans        &trans            &trans             &trans      &trans                            &trans  &trans  &trans  &trans  &trans  &trans
&en GRAVE       &trans        &trans            &trans             &trans      &trans                            &trans  &trans  &trans  &trans  &trans  &trans
&en APOSTROPHE  &trans        &trans            &trans             &trans      &trans                            &trans  &trans  &trans  &trans  &trans  &trans
&kp RU_NUMERO   &kp RU_COMMA  &en LEFT_BRACKET  &en RIGHT_BRACKET  &kp RU_DOT  &kp RU_PERCENT  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                              &trans            &trans             &trans      &trans          &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        mod-fn {
            display-name = "mod.fn";
            bindings = <
&bootloader   &kp K_CANCEL  &kp F23       &kp K_CANCEL  &kp F24       &kp K_CANCEL                                &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL   &kp K_CANCEL   &kp K_CANCEL
&kp K_CANCEL  &cmd_f15 F1   &cmd_f15 F2   &cmd_f15 F3   &cmd_f15 F4   &cmd_f15 F5                                 &kp PG_UP     &nav_bksp     &kp UP        &nav_del       &kp LSHFT      &nav_shdel
&kp K_CANCEL  &cmd_f15 F6   &cmd_f15 F7   &cmd_f15 F8   &cmd_f15 F9   &cmd_f15 F10                                &kp HOME      &kp LEFT      &kp DOWN      &kp RIGHT      &nav_enter     &kp END
&out OUT_USB  &cmd_f15 F11  &cmd_f15 F12  &cmd_f15 F13  &cmd_f15 F14  &cmd_f15 F15  &kp K_CANCEL    &kp K_CANCEL  &kp PG_DN     &kp LC(LEFT)  &kp LA(LEFT)  &kp LC(RIGHT)  &kp LA(RIGHT)  &trans
                            &kp K_CANCEL  &kp K_CANCEL  &trans        &trans        &trans          &trans        &kp SPACE     &trans        &kp K_CANCEL  &kp K_CANCEL
            >;
        };

        fn-mod {
            display-name = "fn.mod";
            bindings = <
&kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL                                &bt BT_SEL 0        &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL                                &kp K_CANCEL        &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL
&kp K_CANCEL  &kp ESC       &kp K_CANCEL  &kp CAPSLOCK  &kp K_CANCEL  &kp K_CANCEL                                &nvon_kp K_CANCEL   &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL
&kp K_CANCEL  &sk LGUI      &sk LSHFT     &sk LCTRL     &sk LALT      &kp K_APP     &kp K_CANCEL    &kp K_CANCEL  &nvoff_kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &kp K_CANCEL  &out OUT_BLE
                            &kp K_CANCEL  &kp K_CANCEL  &trans        &nvsel_mo     &trans          &trans        &trans              &trans        &kp K_CANCEL  &kp K_CANCEL
            >;
        };

        sym-sel-en {
            display-name = "sym_sel";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans        &trans            &trans      &trans             &trans          &trans
&none   &none   &none   &none   &none   &none                     &kp TILDE     &kp BACKSPACE     &kp CARET   &kp DELETE         &kp LEFT_BRACE  &kp RIGHT_BRACE
&none   &none   &none   &none   &none   &none                     &kp LS(HOME)  &kp LS(LEFT)      &lay_ru     &kp LS(RIGHT)      &kp LS(ENTER)   &kp LS(END)
&trans  &none   &none   &none   &none   &none   &trans    &trans  &kp HASH      &kp LC(LS(LEFT))  &kp DOLLAR  &kp LC(LS(RIGHT))  &kp SEMICOLON   &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans            &trans      &trans
            >;
        };

        sym-sel-ru {
            display-name = "sym-sel";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans     &trans  &trans      &trans  &trans            &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &en TILDE  &trans  &en CARET   &trans  &en LEFT_BRACE    &en RIGHT_BRACE
&trans  &trans  &trans  &trans  &trans  &trans                    &trans     &trans  &lay_en     &trans  &trans            &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &en HASH   &trans  &en DOLLAR  &trans  &kp RU_SEMICOLON  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans      &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        num-utils {
            if-layers = <5 1>;
            then-layer = <6>;
        };

        act-sym {
            if-layers = <3 1>;
            then-layer = <4>;
        };

        sym-sel {
            if-layers = <9 1>;
            then-layer = <10>;
        };
    };
};
